.bodyClass {
  background: black;
  color: white;
  overflow-x: hidden;
}

.butt {
  border: 3px solid #ff6600;
  padding: 6px 65px;
  font-size: 18px;
  cursor: pointer;
  
  background-color: black;
  border-color: #ff6600;
  border-radius: 25px;
  color: white;
}

.sayhibutt{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  
} 

.butt:hover {
  background: #ff6600;
  color: white;
}


.butt1{
  border: 3px solid #ff6600;
  padding: 6px 45px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  background-color: black;
  border-color: #ff6600;
  border-radius: 25px;
  color: white;
  margin-bottom: 100px;
}

.butt1:hover{
    background: #ff6600;
    color: white;
}


.form {
  background-color: #ffa500;
  border-color: #ffa500;
  border-radius: 25px;
  width: 600px;
  height: 35px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.textarea {
  margin-left: 20%;
  background-color: #ffa500;
  border-radius: 25px;
  width: 600px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.knowUsImages{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
}

.unicef{
  margin-left: 35%;
}

.headbutt {
  border: 3px solid #ff6600;
  padding: 6px 65px;
  font-size: 18px;
  cursor: pointer;
  background-color: black;
  border-color: #ff6600;
  border-radius: 25px;
  color: white;

}

.headbutt:hover {
  background: #ff6600;
  color: white;
}



.headlogo {
  width: 200px;
  height: 150px;
}


.footbutt{
  margin-left: 25%;
}

.footerPtag{
  font-size: 13px;
  font-weight: lighter;
  padding-left: 40%;
  margin-top: -100px;
}

::placeholder{
  color: #000;
  font-weight: lighter;
}

select{
  color: #000;
  font-weight: lighter;
}

h1, h3, p {
  font-size: 1.2em;
}

p{
  font-size: 18px;
  font-weight:lighter;
}




.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.whatWeDoText{
  margin-left: 15%;
  
}

.imageMarginTop{
  margin-top: -500px;
}

.whatWeDoImage{
  margin-top: -200px;
  margin-right: 15%;
  width: 600px;
  height: 450px;
  float: right;
}

.sayHiImage{
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

.lifeskillsImage{
  margin-right: 25%;
  width: 300px;
  height: 450px;
  float: right;
}

.enterpriseText{
   margin-top: -250px;
  margin-left: 800px;

}

.enterpriseImage{
  margin-left: 15%;
  width: 300px;
  height: 450px;
  float: left;
}

.backgroundItem{
  height: 700px;
  width: 450px;
}

.carousel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 800px;
}

.iframeItem{
  height: 500px;
}

.nLabsCarousel{
  margin-right: 300px;
  width: 450px;
  height: 700px;
  margin-bottom: 200px;
  float: right;
  color: #ff6600;
}



/* Clearfix (clear floats) */
.row::after {
  clear: both;
  display: table;
}

.footerLogo{
  width: 200px;
  height: 250px;
}

.footerImages{
  width: 50px;
  height: 50px;
}

.headerImg{
  height: 250px;
  width: 250px;
  margin-right: 800px;
}

.headerMargin{
  margin-bottom: 200px;
}
.lifeskillsText{
  margin-left: 15%;
}


.gameIcon{
  width:100px;
  height: 150px;
  margin-right: 20px;
}




/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  p{
    font-size: 14px;
  }

  .textsize{
    font-size: 14px;
    margin-right: 5%;
  }

  .whatWeDoh1{
    font-size: 18px;
  }

  .column {
    width: 100%;
  }

  .ImgCol{
    margin-top: 350px;
  }


  .whatWeDoImage{
    margin-top: 350px;
    margin-left: 10%;
    width: 200px;
    height: 150px;
    float: none;
  }

  .whatWeDoText{
    margin-right: 15%;
    width: 450px;
    height: 300;
  }

  .lifeskillsText{
    margin-right: 15%;
  }

  .lifeskillsImage{
    margin-left: 15%;
    width: 150px;
    height: 200px;
  }

  .enterpriseImage{
    margin-left: 15%;
    width: 150px;
    height: 200px;
  }

  .enterpriseText{
    margin-left: 15%;
    margin-right: 5%;
 }

 .headerImg{
   height: 150px;
   width: 150px;
   margin-right: 90px;
 }

 .headbutt{
  padding: 5px 20px;
 }
 
 /* not done */
 .carousel{
   height: 200px;
   width: 250px;
 }

 .iframeItem{
   height: 200px;
 }

 .imageMarginTop{
  margin-top: 500px;
  }

  .knowUsImages{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
  }

  .unicef{
    margin-left: 13%;
  }

  .caption{
    display: none;
  }

  .sayHiImage{
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }

  .form {
    background-color: #ffa500;
    border-color: #ffa500;
    border-radius: 25px;
    width: 300px;
    height: 35px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .textarea {
    margin-left: 20%;
    background-color: #ffa500;
    border-radius: 25px;
    width: 300px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .sayhibutt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 100px;

  } 

  .butt {
    border: 3px solid #ff6600;
    padding: 6px 25px;
    font-size: 18px;
    cursor: pointer;
    
    background-color: black;
    border-color: #ff6600;
    border-radius: 25px;
    color: white;
  }

  .footbutt{
    margin-left: 8%;
  }

  .footerLogo{
    width: 100px;
    height: 150px;
  }

  .footerImages{
    width: 30px;
    height: 30px;
  }

  .footerPtag{
    font-size: 13px;
    font-weight: lighter;
    padding-left: 20%;
    margin-top: -50px;
  }

  .headerMargin{
    margin-bottom: 50px;
  }


  .nLabsCarousel{
    margin-left: 15%;
    width: 250px;
    height: 500px;
    margin-bottom: 200px;
    color: #ff6600;
  }

  .backgroundItem{
    height: 500px;
    width: 250px;
  }

  .gameIcon{
    width:50px;
    height: 75px;
    margin-right: 14px;
  }

  .butt1{
    margin-bottom: 10px;
    padding: 3px 25px;
    margin-right: 3px;
    font-size: 13px;
  }

  .h4font{
    font-size: 14px;
  }



}











/* small tablet styles */
@media screen and (min-width: 620px){
  .whatWeDoImage{
    margin-top: 50px;
  }

 
}

/* large tablet and laptop styles */
@media screen and (min-width: 960px){
  .bodyClass{
    font-size: 18px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px){
  .bodyClass{
    font-size: 20px;
  }
}


